
@import "syntax";
@import "poole";
@import "lanyon";


@import url(http://fonts.googleapis.com/css?family=Lato:400,700|Courgette);

html{
	font-family: 'Open Sans', sans-serif;

}

body {
	color: #515151;
}

p {
	font-weight: 300;
}

/*
 * Masthead
 *
 * Super small header above the content for site name and short description.
 */

.masthead {
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 3rem;
	background-color: #59abe3;
}
.masthead-title {
 	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.9;
	color: #fff;
	font-weight: 700;
	font-size:2.5rem;
	font-family: 'Lato', sans-serif;
}

.masthead-title a {
	color: #fff;
}

.masthead-title a:hover {
  text-decoration: none;
}

.masthead-title small {
  font-size: 50%;
  font-weight: 400;
  color: rgba(255,255,255,0.7);
  letter-spacing: 0;
  font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

.masthead-title_tagline{
	font-size: 74%;
  font-weight: 300;
  color: rgba(255,255,255,0.7);
  letter-spacing: 0;
  font-family: 'Courgette', Helvetica, Arial, sans-serif;
}

.avatarContainer{	
    position: absolute;
    margin-left: 50%;
}
.avatar{
	position: relative; 
}

header > div > div > div > a > img{
	  width: 7em;
	  display: block;
	  background: #fff;
	  border: 5px solid #fff;
	  border-radius: 50%;
	  box-shadow: 0 1px 1px rgba(136,153,166,0.55)
}
@media (max-width: 48em){
	.avatarContainer{	
	    position: relative;
	    margin-left:auto;
	    margin-right: auto;
	}

	.avatar{
		position: relative; 
	}

	header > div > div > div > a > img{
		margin-left: auto;
		margin-right: auto;
		width: 6em;
		float: none;
	  	margin: 25px auto 20px;
	  	display: block;
	  	background: #fff;
		border: 4px solid #fff;
		border-radius: 50%;
		box-shadow: 0 1px 1px rgba(136,153,166,0.35);
	}
}

@media (min-width: 38em) {

  html {
    font-size: 24px;
  }
}

footer{
	position: relative;
	padding-top: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 0;
	background-color: #a2d7e4;
	text-align: center;
}

.footer .contact {
	clear:both;
	float:none;
	margin-right: 0em;
}

.twitter {
	background-image: url(../images/icons/twitter.svg);
	background-repeat: no-repeat;
	background-position: top-left;
}

.twitter:hover {
	-webkit-transition: text-indent .4s,opacity .4s;
	opacity: 1;
	text-indent: -16%;
}

.linkedin {
	background-image: url(../images/icons/linkedin.svg);
	background-repeat: no-repeat;
	background-position: top-left;
}

.linkedin:hover {
	-webkit-transition: text-indent .4s,opacity .4s;
	opacity: 1;
	text-indent: -2%;
}

.github {
	background-image: url(../images/icons/github.svg);
	background-repeat: no-repeat;
	background-position: top-left;
}

.github:hover {
	-webkit-transition: text-indent .4s, opacity .4s;
	opacity: 1;
	text-indent: -9%;
}

.social-links {
	list-style-type: none;
	padding: 0;
	text-align: center;
	margin:0;
}

.social-links li {
	margin: 0 .3em;
	padding: 0;
	display: inline-block;
}

.social-icon {
	height: 68px;
	width: 68px;
	background-size: 34px 34px !important;
	background-position: center center;
	background-color: transparent;
	border-radius: 3em;
	display: inline-block;
	line-height: 33px;
	font-size: 0.8rem;
	text-indent: -9999px;
	font-weight: 400;
	color: #fff;
	opacity: 0.8;
	transition: text-indent 0.4s, opacity 0.4s;
	margin-top:0.5rem;
	
	
}

.social-icon:hover  {
	background-color: white;
	opacity: 0.8;
}

.social-text{
	top: 0;
	position: absolute;
}
