<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body class="layout-reverse">

    <div class="wrap">
      <header class="masthead">
         <div class="container">
          <h1 class="masthead-title">
            <a href="{{ site.baseurl }}" title="Home">Adam Raya</a>
            <br />
            <span class="masthead-title_tagline">{{ site.tagline }}</span>
          </h1>
        </div>
      </header>

      <main class="container content">
        {{ content }}
      </main>

      <footer class="footer">



          
            
            <div class="contact">
              <ul class="social-links">
              <li><a href="https://linkedin.com/in/adamraya" class="linkedin social-icon" title="Check out my LinkedIn profile" onclick="trackOutboundLink('https://linkedin.com/in/adamraya'); return false;"><span class="social-text">linkedin.com/in/adamraya</span></a></li>
                <li><a href="https://github.com/adamraya" class="github social-icon" title="Some projects on GitHub" onclick="trackOutboundLink('https://github.com/adamraya'); return false;"><span class="social-text">github.com/adamraya</span></a><br /></li>
                <li><a href="https://twitter.com/_adamraya" class="twitter social-icon" title="tweet me on Twitter" onclick="trackOutboundLink('https://twitter.com/_adamraya'); return false;"><span class="social-text">twitter.com/_adamraya</span></a></li>
              </ul>
            </div>
            <div class="contact">
              <p>
                <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#100;&#97;&#109;&#114;&#97;&#121;&#97;&#64;&#109;&#101;&#46;&#99;&#111;&#109;" onclick="trackOutboundLink('adamrayaatmecom'); return false;" >&#97;&#100;&#97;&#109;&#114;&#97;&#121;&#97;&#91;&#97;&#116;&#93;&#109;&#101;&#46;&#99;&#111;&#109;</a>
              </p>
            </div>
         
       
      </footer>
    </div>
    
  </body>
</html>